In [ ]:
# List:

In [2]:
# list.append(element)

In [3]:
List = ['maths','science','english',1998]

In [4]:
List.append(2008)
print(List)

['maths', 'science', 'english', 1998, 2008]

In [5]:
# list.insert(position,element)

In [6]:
List = ['maths','science','english',1998,'chetan']

In [7]:
List.insert(1,778899)
print(List)

['maths', 778899, 'science', 'english', 1998, 'chetan']

In [15]:
# sum(list)

In [16]:
List = [1 ,2 ,3 ,4 ,5]
print(sum(List))

15

In [17]:
# List.count(element)

In [19]:
List = [1,2,3,4,1,2,4,5,4]
print(List.count(4))

3

In [20]:
# Dictionary:

In [21]:
Dict = {1: 'name', 2: 'age', 3: 'number'}  
print(Dict)

{1: 'name', 2: 'age', 3: 'number'}

In [22]:
Dict = {'Name': 'letsupgrade', 1: [1, 2, 3, 4]}  
print(Dict)

{'Name': 'letsupgrade', 1: [1, 2, 3, 4]}

In [24]:
# set :

In [25]:
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [26]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [27]:
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [28]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [29]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [30]:
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [31]:
my_set.remove(3)
print(my_set)

{1, 2, 4}

In [32]:
# touple:

In [33]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [34]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [35]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

(3, 4.6, 'dog')

In [36]:
a, b, c = my_tuple

print(a)      
print(b)      
print(c)

3
4.6
dog

In [37]:
my_tuple = ("hello")
print(type(my_tuple))

<class 'str'>

In [38]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])    
print(my_tuple[5])

p
t

In [39]:
# String:

In [40]:
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

In [41]:
str = 'letsupgrade'
print('str = ', str)

str =  letsupgrade

In [42]:
str1 = 'Hello'
str2 ='World!'
print('str1 + str2 = ', str1 + str2)

str1 + str2 =  HelloWorld!

In [43]:
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found